body{
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 30px;
    color: #080808;
    background-image: linear-gradient(#440f50,#561C59ff,#682862ff,#7B356Bff,#8D4274ff);
    background-attachment: fixed;
}

.app{
    max-width: 600px;
    margin: 0 auto 300px ;
    background-color: #a5a3a385;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.397)
}
h1{
    text-align: center;
}
h2{
    margin-bottom: 10px;
}
p{
    margin: 10px 0;
}

input{
    box-sizing: border-box;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3)
}
textarea{
    box-sizing: border-box;
    border-bottom: 1px solid #555;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    min-width: 100%;
    max-width: 100%;
    font-family: Arial;
    min-height: 65px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    align-items: center;
    resize: none;
}

button{
    background-color: #537cec;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.1s;
    border: none;
    margin-right: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3)

}

button:hover{
    background-color: #3c9c93;
    opacity: 1;

}

.todo-form{
    padding-bottom: 1.5rem;

}


.todo-list{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
}

.todo{
    background-color: #ffffff9a;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3)
}

input,select{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3)

}
.complete {
    background-color: #34A0A4;

}

.complete:hover {
    background-color: #22ced4;
    padding: 7px 12px;
}
.remove{
    background-color: #B5179E;
}

.remove:hover{
    background-color: #b81aa0;
    padding: 7px 12px;
}

.filter, .search{
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding: 20px;
}

.filter-options{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.filter-options div{
    flex: 1 1 1;
}
